h1 {
    font-family:VT323,monospace;
    font-size: 3rem;
    color:#A8F788;
}

.card-pic {
    filter: grayscale(100%);
    width: 162px;
    border-radius:50%;
    image-rendering: pixelated;
}

mark {
    text-decoration: underline #735591;
    color:#F7E9AD;
}

.title-mark {
    background-color:transparent;
    color:#A8F788;
}

html {
    height:100%;
}

.fs-1 {
    font-family:VT323,monospace;
}

.hidden {
    display: none;
}

body {
    min-height:100%;
    background-color:#735591;
    color:#F7E9AD;
    font-family:Ubuntu Mono,sans-serif;
}

.align-items-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

td {
    color:#F7E9AD;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  color:#F7726F;
}

.nav-link {
    color: #F7E9AD;
}

.modal-content {
    background-color:#D4D4D4;
}

.modal-body {
    color: #0f0f0f;
}

.modal-title {
    font-family:Ubuntu,sans-serif;
    color: #735591;
}

.modal-footer {
    font-family:Ubuntu,sans-serif;
    color:#3B3B3B   ;
}

label {
    color: #735591;
}

.gamefinder-header {
    font-family:Ubuntu,sans-serif;
    text-align: center;
    color:#A8F788;
    position: relative;
}

.gamefinder-text {
    font-family:Ubuntu,sans-serif;
    text-align: center;
    color: #735591;
}

a:link {
    color: #F7E9AD;
}

a:visited {
    color: #F7726F;
}

a:hover {
    color: #F7726F;
}

a:active {
    color: #F7726F;
}

.form-check-input {
    align-items: center;
    margin-top: 11px;
}

.form-check-label {
    margin-top: 8px;
}

.interest {
    color:#e42dd2
}

input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid #A8F788;
}

input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #ffa500;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid #A8F788;
}

.message {
    text-align: center;
    color: #e42dd2;
}

.dropdown-toggle {
    position: relative;
    color:#d1d3d1;
    border: 2px solid #A8F788;
}

.dropdown-item {
    background-color: white;
}

#recommend-refresh {
    position: relative;
    color:#d1d3d1;
    border: 2px solid #A8F788;
}

.dropdown-menu {
    max-height: 200px;
    overflow-y: auto;
}


.card {
    background-color:transparent;
    border-style:double;
    border-width:4px;
    border-color:#F7726F;
    border-radius:0;
}

.card-header {
    background-color:transparent;
    border-style:none;
    font-family:VT323, monospace;
    color:#735591;
}
