{% extends 'base.html' %}

{% block content %}
    {% include 'nav.html' %}
    <div class="modal fade" id="gameinfoModal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-fullscreen-sm-down modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="gameTitle">
                                <div class="spinner-border" role="status">
                                <span class="visually-hidden">Loading...</span>
                                </div>
                            </h5>
                            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p id="gamePlatforms"></p>
                            <p id="gameModes"></p>
                            <p id="gameGenres"></p>
                            <p id="gameThemes"></p>
                            <p id="gameRating"></p>
                            <p id="gameStory"></p>
                            <p id="gameSum"></p>
                        </div>
                    </div>
                </div>
            </div>
    {{ super() }} <!-- super() includes call for error message display -->
{% endblock %}

{% block page_content %}
    <div class="container-sm p-3 align-self-center" style="color:#A8F788;background-color:#3B3B3B;">
        <h1 class="display-6 mb-2">:dashboard: recs for {{ current_user.user_name }}</h1>
        <!-- <p class="lead" style="color:#C694F7"><strong><em>based on games in your bag right now!</em></strong></p> -->
        <div class="container">
            <div class="row">
                <div class="col-sm">
                {% with games = top5 %}
                {% if games %}
                {% for game in games %}
                <!-- create card DIV for each game -->
                    <div class="card my-4">
                             <h3 class="card-header text-decoration-underline fst-italic">
                                <mark>{{ game.name }}</mark>
                            </h3>
                        <div class="d-flex position-relative align-items-center justify-content-center">
                            <img src="{{ game.cover_url }}" class="card-pic" alt="picture not ready">
                            <div class="d-flex card-img-overlay text-center position-absolute align-items-center">
                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                        <a href="/add/{{ game.id }}"><span class="nes-icon is-big heart" style="font-size:3rem;color:#3b3b3b;"></span></a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#" id="{{ game.id }}" data-bs-toggle="modal" data-bs-target="#gameinfoModal" onClick="Nfo_click(this.id)">
                                            <span class="nes-icon is-big envelope" style="font-size:3rem;color:#3b3b3b;"></span></a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#"><span class="nes-icon is-big ban" style="font-size:3rem;color:#3b3b3b;"></span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row justify-content-center align-items-start">
                                <div class="col-6">
                                    <p class="card-text lead mb-0"><mark style="color:#C694F7;">PLATFORMS</mark></p>
                                    <ul class="list-inline">
                                        {% for platform in game.platforms %}
                                        <li class="list-inline-item"><mark>{{ platform }}</mark></li>
                                    {% endfor %}
                                    </ul>
                                </div>
                                <div class="col-6">
                                    <p class="card-text lead mb-0"><mark style="color:#C694F7;">GENRES</mark></p>
                                    <ul class="list-inline">
                                        {% for genre in game.genres %}
                                        <li class="list-inline-item"><mark>{{ genre }}</mark></li>
                                    {% endfor %}
                                    </ul>
                                <div class="align-self-end">
                                    <p class="card-text lead mb-0"><mark style="color:#C694F7;">AVG RATING</mark></p>
                                    <p class="card-text mb-0"><mark>{{ game.rating|int }}</mark></p>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                {% else %}
                    <div class="col-sm-6 mb-3 mb-sm-0">
                        <p><em>No games :( </em></p>
                    </div>
                {% endif %}
                {% endwith %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block scripts %}
    {{ super() }}
    <script>
        let gameTitle = document.getElementById('gameTitle');
        let gamePlatforms = document.getElementById('gamePlatforms');
        let gameModes = document.getElementById('gameModes');
        let gameGenres = document.getElementById('gameGenres');
        let gameThemes = document.getElementById('gameThemes');
        let gameRating = document.getElementById('gameRating');
        let gameStory = document.getElementById('gameStory');
        let gameSum = document.getElementById('gameSum');

        const buttons = document.querySelectorAll('.btn btn-secondary btn-md');

        function Nfo_click(id_) {
            let search1 = id_;
            if (search1) {
                fetch('/gameFinder/' + search1).then(function(response) {
                    response.json().then(function(data) {
                            gameTitle.innerHTML = data.gameInfo.name;
                            gamePlatforms.innerHTML = data.gameInfo.platforms;
                            gameModes.innerHTML = data.gameInfo.modes;
                            gameGenres.innerHTML = data.gameInfo.genres;
                            gameThemes.innerHTML = data.gameInfo.themes;
                            gameRating.innerHTML = data.gameInfo.rating;
                            gameStory.innerHTML = data.gameInfo.story;
                            gameSum.innerHTML = data.gameInfo.sum;
                    });
                });
            }
        }

    </script>
{% endblock %}
