{% extends 'base.html' %}
{% import "bootstrap5/form.html" as wtf %}

{% block page_content %}
    <div class="d-flex align-items-center min-vh-100 m-5">
    <div class="container p-2 text-white" style="max-width:400px;background-color:#3B3B3B;border-style:double;border-width:6px;border-color:#735591;flex-shrink:0;">
        <h1 class="display-1 mb-0" style="color:#A8F788;font-family:VT323, monospace;">iGame</h1>
        <p class="fs-2" style="color:#F7E9AD;font-family:VT323, monospace;">select gaming app</p>
        <ul class="fa-ul" style="color:#F7E9AD;">
            <li><span class="fa-li"><i class="fa-solid fa-gamepad"></i></span>200,000+ games</li>
            <li><span class="fa-li"><i class="fa-solid fa-sliders"></i></span>filters for game platform, genre & theme</li>
        </ul>
        <ul class="nav flex-column justify-content-center" style="font-size:2.5rem;">
            <li class="nav-item" style="border-style:outset;border-width:10px;background-color:#F7726F;border-color:#F7726F;font-family:VT323, monospace">
                <a class="nav-link" data-bs-toggle="modal" data-bs-target="#loginModal" style="color:#A8F788;">LOGIN</a>
            </li>
            <li class="nav-item" style="border-style:outset;border-width:10px;background-color:#C694F7;border-color:#C694F7;font-family:VT323, monospace;">
                <a class="nav-link" href="{{ url_for('main.register') }}" style="color:#AB4F4D;font-family:VT323, monospace;">REGISTER</a>
            </li>
        </ul>
    </div>
    </div>
    <!--
    <div class="container vertical-center">
        <div class="jumbotron jumbotron-my auto">
            <h1 class="display-4">iGame</h1>
            <p class="lead">Games for Everybody!</p>
            <hr class="my-4">
            <p>Login or register for more.</p>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#loginModal">
            LOG IN
            </button>
        </div>
    </div>
    -->
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="loginModalTitle">iGame auth</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="/" id="LoginForm" method="POST" autocomplete="off" class="needs-validation form-signin" novalidate>
                        <div class="form-group">
                            {{ form.hidden_tag() }}
                            {{ form.username.label(class="col-sm-2 col-form-label col-form-label-lg") }}
                            {{ form.username(class="form-control form-control-lg") }}
                            {% if form.username.errors %}
                                {% for error in form.username.errors %}
                                <div class="alert alert-danger" role="alert">
                                    {{ error }}
                                </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.password.label(class="col-sm-2 col-form-label col-form-label-lg") }}
                            {{ form.password(class="form-control form-control-lg") }}
                            {% if form.password.errors %}
                                {% for error in form.password.errors %}
                                <div class="alert alert-danger" role="alert">
                                    {{ error }}
                                </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <div class="form-group">
                        <div class="form-check">
                            {{ form.remember(class="form-check-input") }} &nbsp;
                            {{ form.remember.label(class="form-check-label") }}
                        </div>
                        </div>

                        <button type="submit" class="btn btn-secondary" style="margin-top:10px">LOG IN</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <div class="col-md-12">
                        New to iGame? <a href="{{ url_for('main.register') }}">REGISTER HERE</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
