{% extends 'base.html' %}

{% block page_content %}
                    <form action="{{ url_for('auth.login') }}" id="LoginForm" method="POST" autocomplete="off" class="">
                        {{ form.hidden_tag() }}
                        <div class="form-check">
                            {{ form.remember(class="form-check-input") }} &nbsp;
                            {{ form.remember.label(class="form-check-label") }}
                        </div>
                        <button type="submit" name="github">
                            {{ form.github.label() }}
                        </button>
                        <button type="submit" name="google">
                            {{ form.google.label() }}
                        </button>
                    </form>
{% endblock %}
