<div class="container">
    <nav class="navbar fixed-top" aria-label="main">
        <div class="container-fluid justify-content-center">
            <!-- Brand Name -->
            <div class="navbar-brand me-4">
                iGAME
            </div>
            <!-- Navigation Links -->
            <ul class="navbar-nav d-flex flex-row">
                <!-- Dashboard -->
                <li class="nav-item mx-2">
                    <a class="nav-link text-center" href="{{ url_for('main.home') }}">
                        Dashboard<br>
                        <span class="nes-icon is-big nes" style="font-size:3rem;"></span>
                    </a>
                </li>
                <!-- Game Finder -->
                <li class="nav-item mx-2">
                    <a class="nav-link text-center" href="{{ url_for('main.gameFinder') }}">
                        Game Finder<br>
                        <span class="nes-icon is-big search" style="font-size:3rem;"></span>
                    </a>
                </li>
                <!-- My Bag -->
                <li class="nav-item mx-2">
                    <a class="nav-link text-center" href="{{ url_for('main.bag') }}">
                        My Bag<span class="badge bg-dark">{{ session['bag'] | count }}</span><br>
                        <span class="nes-icon is-big database" style="font-size:3rem;"></span>
                    </a>
                </li>
                <!-- Logout (if authenticated) -->
                {% if current_user.is_authenticated %}
                <li class="nav-item mx-2">
                    <a class="nav-link text-center" href="{{ url_for('auth.logout') }}">
                        Logout<br>
                        <span class="nes-icon is-big user" style="font-size:3rem;"></span>
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
</div>
